body {
    margin: 0;
    font-family: "Source Serif Pro", serif;
    background: #dbdbdb;
    background-size: cover;
    text-align: center;
}

.PrimaParte {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 13rem; /* Altezza totale della PrimaParte */
    background: #0066FF;
    z-index: 999;
    display: flex; /* Attiva Flexbox per gestire allineamento */
    flex-direction: column; /* Disposizione verticale: logo sopra, titolo sotto */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra orizzontalmente */
    padding: 0.5rem;
}

.PrimaParte button{
    width: 20rem;
    min-width: 15rem;
    font-size: 1.5rem;
    padding: 0.9rem;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    background-color: #BABABA;
    color: black;
    font-weight: bold;
    margin: 0.5rem 0;
    display: block;
    justify-content: center;
}

.PrimaParte img {
    width: 9rem;
    margin-bottom: 2rem;
}

.container h1 {
    margin-top: 6rem;
    font-size: 2.5rem;
}

.container p {
    margin-top: 0 auto;
    margin: 0.1rem 0 0;
    font-size: 1rem;
}

.flag-container button {
    width: 18rem;
    min-width: 15rem;
    font-size: 1.5rem;
    padding: 0.9rem;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    background-color: #BABABA;
    color: black;
    font-weight: bold;
    margin: 0.5rem 0;
    display: block;
    justify-content: center;
}


.flag-container button:hover {
    background-color: #0066FF;
    color: white;
}

.container{
    text-align: center;
    margin: 7rem auto;
    padding: 0;
    min-width: min-content;

}

.container h1 {
    font-size: 4rem;
    margin-bottom: 0.5rem;
    
}

.container p {
    margin-top: 0.3rem;
    font-size: 1.8rem;
}

.logo{
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    width: 15rem;
}

.slide{
    position:fixed;
    top:0; left:0; bottom:0; right:0;
    overflow-y:auto;
    opacity:0;
    transition:opacity 0.2s;
    z-index:-1;
}

.flag-container{
    position:fixed;
    top:0; left:0; bottom:0; right:0;
    overflow-y:auto;
    opacity:0;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: calc(100vh - barra2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:0rem;
    padding-top: 0; 
    overflow: auto;
}

div.slide.visible{
    opacity:1;
    z-index:0;
}

#Costituzione{
    display:none;
}

#Cultura{
    opacity:none;
}

#testFinale{
    left:0;
    width: 18rem;
    min-width: 18rem;
    bottom: 17rem;
    display: inline-block;

}
#preparazione{
    right:0;
    width: 18rem;
    min-width: 15rem;
    bottom: 13rem;
    display: inline-block;
}

.new-button {
      margin-left: 30px; 
      display: block; 
}

.sub-button {
    margin-left: 5rem;
    margin-top: 10px;
    display: block;

  }

.dynamic-move-up {
    transform: translateY(+10%);
    transition: all 0.5s ease; 
}

.barra2{
    position: fixed;
    left: 0;right: 0;bottom:0;
    height: 6rem;
    padding: 0;
    background: #0066ff;
    padding-bottom: 0;
    align-items: center;
}


.item img{
    align-items: center;
    margin-inline: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
}

.navbar {
    position: fixed;
    bottom: 0.5rem;
    left: 5rem;
    right: 5rem;
    bottom: 1rem;
    background-color: #BABABA;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    border-radius: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Effetto ombra per la barra inferiore */
}

.lowslide{
    position:fixed;
    opacity:0;
    transition:opacity 0.2s;
    z-index:-1;
}

.lowslide.visible{
    opacity:1;
    z-index:0;
}

#vf{
    position: fixed;
    bottom: 0.5rem;
    left: 5rem;
    right: 5rem;
    bottom: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

.nav-item img {
    width: 1.5rem;
    height: 1.5rem;
}


button{
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 auto;
}

.barriera{
    clear: both;
    height: 13rem;
}

.barriera2{
    clear: both;
    height:6rem;
    color: white;
}

/* ----- da qui css per la pagina costituzione---*/


#Costituzione{
    width: 20rem;
    min-width: 15rem;
    bottom: 17rem;
}
#Suddivisione{
    width: 20rem;
    min-width: 15rem;
    bottom: 13rem;
}

#Elezioni{
    width: 20rem;
    min-width: 15rem;
    bottom: 9rem;
}
#Votazione{
    width: 20rem;
    min-width: 15rem;
    bottom: 6rem;
}
#Cittadinanza{
    width: 20rem;
    min-width: 15rem;
    bottom: 1rem;
}

/*----parte per la storia---*/

.contenitore {
    max-width: 50rem;
    width: 30rem;
    padding: 2rem;
    margin-bottom: 5rem;
    background: rgb(138, 138, 138);
    border-radius: 1rem;
}


.sezione-con-img {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sezione-con-img .testo {
    flex: 1;
}

#StoriaP{
    margin-top: 17rem;
    margin-bottom: 5rem;
}

#StoriaP h1{
    font-size: 2rem;
    margin-bottom: 0.3rem;
    color: #0066FF;
    border-bottom: 2px solid #4B61D1;
    padding-bottom: 0.3rem;
	font-family:"Martian";	
}


#StoriaP p{
    font-size: 1.1rem;
    text-align: justify;
    line-height: 1.5rem;
    margin: 0 0 1rem 0;
	word-spacing: -0.1rem;
}


/*------parte per la impostazione-----*/
#Impo {
    border-radius: 0.3rem;
    position: fixed; 
    font-size: 1rem;
    padding-top: 20rem;
    padding-bottom: 3rem;
    overflow-y: auto;
    top: 0;
    bottom: 5rem; 
    width: 100%; 
}

#Impo button {
    min-width: 5rem;
    font-size: 1.5rem;
    padding: 0.9rem;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    background-color: #BABABA;
    color: black;
    font-weight: bold;
    margin: 0.5rem 0;
    display: block;
    justify-content: center;
}

#Impo button:hover {
    background-color: #0066FF;
    color: white;
}

#Impo button img {
    width: 2rem;
    height: 2rem;
    margin-right: 0.6rem;
}


/*-----css per la pagine del pre-test -----*/
#Accetto {
    width: 20%;
    min-width: 10rem; 
    max-width: 30rem; 
    height: 3rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    background-color: #BABABA;
    color: black;
    font-weight: bold;
    margin-top: 6rem;
}

#Accetto:hover {
    background-color: #0066FF;
    color: white;
}

.introTest{
    margin-top: 5rem;
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: justify;
    font-size: large;
}

#intro{
    padding-top: 10rem;
    height: calc(100vh - 15rem);
    overflow-y: scroll;
}

.precisazione{
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: justify;
    font-size: small;
}

/*-----css per slide quiz-----*/

.SecondaParte {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    height: 55%;
    top: 25%;
    bottom: 2rem;
    left: 0;
    right: 0;
    padding: 1rem;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 1%;
    margin-top: 2%;
    min-height: 7rem;
    min-width: 7rem;
}

.SecondaParte p{
    margin-left: 1.5rem;
    max-width: 28rem;
    max-height: 15rem;
    width:25%;
    height: 15%;
    text-align: justify;
}

#vf button {
    width: 10rem;
    min-width: 7rem;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    background-color: #BABABA;
    color: black;
    font-weight: bold;
    margin: 0.5rem 0;
    display: block;
    justify-content: center;
}

#vf button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

@media (max-width: 37.5rem) {
    body {
        font-size: 0.9rem;
    }

    .PrimaParte {
        height: 10rem;
    }

    .PrimaParte img {
        width: 6rem;
        margin-bottom: 1rem;
    }

    .container h1 {
        font-size: 2rem;
    }

    .container p {
        font-size: 0.9rem;
    }

    .flag-container button {
        font-size: 1.2rem;
        padding: 0.6rem;
        margin: 0.3rem 0;
    }

    .navbar {
        padding: 0.5rem;
    }

    .nav-item img {
        width: 1.2rem;
        height: 1.2rem;
    }

    .contenitore{
        margin: 2rem auto;
        padding: 1rem;
    }

    .sezione-con-img {
        flex-direction: column;
    }

    .sezione-con-img .testo {
        text-align: center;
    }
}

