body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #DBDBDB;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#barra {
    position: fixed;
    top: 0;
    left: 0;
    height:12rem; 
    background: #0066FF; 
    z-index: 999;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

#barra .logo img {
    width: 13rem;
    margin-bottom: 0.5rem;
}

.title-container {
    text-align: center;
}

#barra h1 {
    margin: 0;
    font-size: 2.5rem;
    color: black;
	font-family: "semimono";
}

#barra p {
    margin: 0.1rem 0 0;
    font-size: 1rem;
    color: black;
	font-family: "semimono";
}


.menu {
    padding: 1rem;
    border-radius: 0.3rem;
    position: center;
    top: 10rem; 
    width: 40rem;
    right: 2rem;
    left: 2rem;
}

.menu button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #d3d3d3;
    color: black;
    border: 0.5rem;
    padding: 0.9rem 1.25rem;
    margin: 0.4rem 0;
    width: 100%;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 0.5rem;
    font-family: Arial, sans-serif;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
}

.menu button img {
    width: 2rem;
    height: 2rem;
    margin-right: 0.6rem;
}

/* Pulsante Indietro */
.back {
    margin-top: 1.25rem;
    background-color: #d3d3d3;
    color: black;
    border: none;
    padding: 0.9rem 1.25rem;
    font-size: 0.8rem;
    cursor: pointer;
    border-radius: 0.3rem;
    width: 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Effetto ombra */
}

/* Barra di navigazione inferiore */
.navbar {
    position: fixed;
    bottom: 0.5rem;
    left: 0;
    right: 0;
    background-color: #0066FF;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    border-radius: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Effetto ombra per la barra inferiore */
}

.nav-item img {
    width: 1.5rem;
    height: 1.5rem;
}

@font-face{
	font-family: "Semimono";
	src: url('../Font/Alfredino\ Semimono.ttf');
}

button{
	background: none;
	border: none;
	cursor: pointer;
}

.barrieraT {
    clear: both;
    height: 5rem;
}