body {
    margin: 0;
    font-family: "Source Serif Pro", serif;
    background: #dbdbdb;
    background-size: cover;
    text-align: center;
    
}

.PrimaParte {
    position: absolute;
    top:0;left:0;right:0;bottom:65%;
    background: rgb(0, 102, 255);
    padding-bottom: 0;
    align-items: center;
    display: inline-block;
}

.PrimaParte img{
    margin-top: auto;
}

.container{
    text-align: center;
    margin: 7rem auto;
    padding: 0;
    min-width: min-content;
    
}

h1 {
    font-size: 4rem;
    margin-bottom: 0.5rem;
    
}

p {
    margin-top: 0.3rem;
    font-size: 1.8rem;
}

.logo{
    position: absolute;
    top: 3%; /* Spostato più in alto */
    left: 50%;
    transform: translateX(-50%);
    width: 15rem; /* Ridotta leggermente la dimensione */
}

.SecondaParte {
    height: 50%;
    margin-top: 25%; 
    align-content: center;
    display: inline-block;
}
.SecondaParte img{
    width:100%;
    max-width: 30rem;
    display:block;
    margin: 0 auto; 
}

.TerzaParte{
    background: rgb(0, 102, 255);
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
    bottom: 0.5%; 
    left: auto;
    right: auto;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-content: center;
    gap:3px;
}

.TerzaParte button {
    position: absolute;
    width: 20%;
    max-width: 12.5rem;
    font-size: 1.5rem;
    padding: 0.9rem;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 10px;
    background-color: #BABABA;
    color: black;
    font-weight: bold;
    align-items: center;
    
}
.login{
    left:35%;
    bottom: 30%;
    display: inline-block;
}
.signin{
    right:25%;
    bottom:30%;
    display: inline-block;
}

.TerzaParte button:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    position: absolute;
}