body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #DBDBDB;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.PrimaParte {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 12rem; /* Altezza totale della PrimaParte */
    background: #0066FF;
    z-index: 999;
    display: flex; /* Attiva Flexbox per gestire allineamento */
    flex-direction: column; /* Disposizione verticale: logo sopra, titolo sotto */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra orizzontalmente */
    padding: 0.5rem;
}

.PrimaParte img {
    width: 13rem; /* Larghezza logo */
    margin-bottom: 0.5rem; /* Distanza tra logo e titolo */
}

.container {
    text-align: center;
    padding-top:4rem;
}

.container h1 {
    margin: 0;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    font-family: "semimono";
}

.container p {
    margin: 0.1rem 0 0;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    font-family: "semimono";
}


.logo {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    width: 15rem;
}

.barrieraT {
    clear: both;
    height: 5rem;
}

.SecondaParte {
    display: flex; /* Attiva Flexbox */
    justify-content: center; /* Centra l'immagine orizzontalmente */
    align-items: center; /* Centra l'immagine verticalmente */
    flex-direction: column;
    position: absolute; /* Posizionamento assoluto */
    top: 12rem; /* Spazio appena sotto la PrimaParte */
    bottom: 5rem; /* Spazio appena sopra la TerzaParte */
    left: 0;
    right: 0;
    padding: 1rem;
    margin: 0 auto;
    box-sizing: border-box; /* Calcolo accurato di larghezza/altezza */
}

.SecondaParte img {
    width: 50%; /* Puoi regolare il valore */
    max-width: 25rem; /* Massima larghezza per schermi grandi */
    height: auto; /* Mantieni proporzioni */
    margin: 0 auto;
}




.TerzaParte {
    position: fixed;
    bottom: 0rem;
    left: 0;
    right: 0;
    background-color: #0066FF;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Effetto ombra per la barra inferiore */
}

.TerzaParte button {
    min-width: 5rem;
    width: 12.5rem;
    font-size: 1.5rem;
    padding: 0.9rem;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 10px;
    background-color: #BABABA;
    color: black;
    font-weight: bold;
}

.TerzaParte button:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}
@font-face{
	font-family: "Semimono";
	src: url('../Font/Alfredino\ Semimono.ttf');
}
